.section {
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0px;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 350px;
}


@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

h1 {
    margin-left: 10px;
}

h3 {
    margin: 0px;
}

.section__body {
    padding: 20px;
}