.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 2px solid rgba(78, 76, 76, 0.213);
}

.form__button--send {
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    transition: 180ms;
    cursor: pointer;
}

.form__button--send:hover {
    background-color: rgb(8, 175, 175);
    transform: scale(1.10);
}

.form__button--send:active {
    background-color: rgb(5, 87, 87);
    transform: scale(1.05);
}