.section__buttons--flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section__button {
    border: 0px;
    transition: 300ms;
    color: rgb(13, 96, 129);
    background-color: white;
    font-family: 'lato', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

@media(max-width: 767px) {
    .section__button {
        flex-basis: 100%;
        padding: 10px;
        margin-top: 10px;
    }
}

.section__button:hover {
    color: rgb(15, 162, 198);
}

.section__button:disabled {
    color: grey;
}